WP_DB_NAME=$WP_DB_NAME
WP_DB_USER=$WP_DB_USER
WP_DB_PASS=$WP_DB_PASS
WP_DB_HOST=$WP_DB_HOST
WP_ADMIN_USER=$WP_ADMIN_USER
WP_ADMIN_PASS=$WP_ADMIN_PASS
WP_ADMIN_EMAIL=$WP_ADMIN_EMAIL
WP_PORT=$WP_PORT

WORDPRESS_DB_HOST=$WP_DB_HOST
WORDPRESS_DB_NAME=$WP_DB_NAME
WORDPRESS_DB_USER=$WP_DB_USER
WORDPRESS_DB_PASSWORD=$WP_DB_PASS
WORDPRESS_TABLE_PREFIX=wp_
WORDPRESS_CONFIG_EXTRA="define('WP_HOME','http://127.0.0.1:$WP_PORT'); define('WP_SITEURL','http://127.0.0.1:$WP_PORT');"

