[Unit]
Description=Enola Server - schedule periodic smoke test
After=network.target

[Timer]
OnCalendar=daily
RandomizedDelaySec=5m
Persistent=true

[Install]
WantedBy=timers.target
